*{
    margin:0;
    padding:0;
}
body{
    background-color: #3c3949;
    overflow-x: hidden;
}
#leftbox{
    position: fixed;
    width: 25vw;
    height: 100vh;
    
}
#daybox{
    width: 25vw;
    height: 88vh;
    overflow-y: scroll;
}
#leftbox h1{
    position: relative;
    margin-top: 2vh;
    margin-left: 5vw;
    margin-bottom: 2vh;
    font-size: 7vh;
}
.box1{
    position: relative;
    left: 2vw;
    width: 20vw;
    height: 8vh;
    float: left;
    margin-bottom: 1vw;
    background-color: rgb(141, 66, 56);
}
.box1 p{
    margin: 1vh;
    font-size: 4vh;
    pointer-events: none;
}

#rightbox{
    position: relative;
    width: 75vw;
    left: 25vw;
    overflow-y: scroll;
    overflow-y: hidden;
    padding-bottom: 2vw;
}
.box2{
    position: relative;
    float: left;
    margin-left: 2vw;
    margin-top: 2vw;
    height: 25vh;
    width: 20vw;
    background-color: rgb(141, 66, 56);
}
